<link rel="stylesheet" type="text/css" href="~/Content/css.css">
@using Microsoft.AspNet.Identity
@model DataBase.Models.ProfilViewModel
@{
    ViewBag.Title = "Index";
}

<h2> @Html.DisplayFor(model => model.User.Name)</h2>
<img class="Img-Profile" src="data:image;base64,@Convert.ToBase64String(Model.User.UserPhoto)"/>


@Html.ValidationSummary(true)
<div>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.User.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Description)
        </dd>
    </dl>
        
   
    @if (Model.User.Id != User.Identity.GetUserId())
    {
        if (!Model.Friends.Contains(Model.User.Id))
        {
        <p>
            @Html.ActionLink("Send Friend Request", "SendRequest", "Friends", new { id = Model.User.Id }, null)
        </p>
        }
      }

    @if (Model.User.Id == User.Identity.GetUserId())
    {
        <p>
            @Html.ActionLink("Edit profil", "Edit", "Profil")
        </p>
    }


    <div>
        <textarea id="Text"></textarea>
        <input id="createBtn" type="button" value="Send" />
    </div>
    <table class="table" id="mytable">



    </table>
</div>
@section scripts {
    <script type="text/javascript">
        var id = "@Model.User.Id";

        $(document).ready(function() {
            getNew();
        });

        function getNew() {
            $.ajax("/api/Posts/List").then(function (data) {
                console.log(data)
                for(var i=0;i<data.length;i++)
                {
                    if (data[i].toUser == id) {
                        var tr="<tr>";
                        var td1="<td>"+data[i].fromUser+"</td>";
                        var td2="<td>"+data[i].text+"</td></tr>";

                        $("#mytable").append(tr+td1+td2); 
                    }


                }   
            });
        }
      


            $("#createBtn").click(function() {
                var request = new PostModel();

                $.ajax({
                    url: "/api/Posts/PostMessage",
                    datatype: 'json',
                    contentType: "application/json",
                    type: "POST",
                    data: JSON.stringify(request),
                    success: function (response) {
                        $("#mytable").empty();
                        $("#Text").val("");
                        getNew();
                    }
                });
            });

            function PostModel() {
                var self = this;
                self.Text = $("#Text").val();
                self.FromUser = "@User.Identity.GetUserId()";
                self.ToUser = "@Model.User.Id";
            }
    </script>
}