@using Microsoft.AspNet.Identity
@model DataBase.Models.ProfilViewModel

@{
    ViewBag.Title = "Index";
}

<h2> @Html.DisplayFor(model => model.User.Name)</h2>
<img src="data:image;base64,@Convert.ToBase64String(Model.User.UserPhoto)" style="width:200px;height:200px; background: #FFFFFF;
                            margin: auto;
                            -moz-border-radius: 60px;
                            border-radius: 100px;
                            padding: 6px;
                            box-shadow: 0px 0px 20px #888;" />



<div>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.User.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Description)
        </dd>
    </dl>

    @if (Model.User.Id == User.Identity.GetUserId())
    {
        <p>
            @Html.ActionLink("Edit profil", "Edit", "Profil")
        </p>
    }
</div>
    @Html.ActionLink("Create Post", "Create", "Post", new { id = Model.User.Id }, new { })
<div>
    <div>
        <textarea id="Text"></textarea>
        <input id="createBtn" type="button" value="Send"/>
    </div>
    <table class="table">

        @foreach (var item in Model.Posts)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.FromUser.Name)</td>
                <td> @Html.DisplayFor(modelItem => item.Text)</td>
            </tr>
        }

    </table>
</div>
@section scripts {
    <script type="text/javascript">
        $.ajax("/api/Posts/List").then(function (posts) {
            console.log(posts);

        });

        $("#createBtn").click(function() {
            var request = new PostModel();

            $.ajax({
                url: "/api/Posts/PostMessage",
                datatype: 'json',
                contentType: "application/json",
                type: "POST",
                data: JSON.stringify(request),
                success: function(response) {
                    $("result").text(response.result);
                }
            });
        });

        function PostModel() {
            var self = this;
            self.Text = $("#Text").val();
            self.FromUser = "@User.Identity.GetUserId()";
            self.ToUser = "@Model.User.Id";
        }
    </script>
}