@model DatingProj.Models.ViewModel
@{
    ViewBag.Title = "Home Page";
}
@if (Request.IsAuthenticated)
{
    <div class="jumbotron">
        <h1>
            Welcome @Html.DisplayFor(model => model.user.Name)
            
            <img class="Img-Profile" src="@Url.Action("UserPhotos", "Home" )" />
        </h1>
        <p><a>@Html.ActionLink("Find gamers in your area now!", "Index", "Users", routeValues: null, htmlAttributes: new { id = "FindUsersLink" })</a></p>
    </div>

    <div class="row">
        @foreach (var user in Model.users)
         {
            if (user.Id != Model.user.Id)
            {
                <div class="col-md-4">
                    <a href="@Url.Action("Index", "Profil", new { id = user.Id })">
                        <img class="Img-Profile" src="data:image;base64,@Convert.ToBase64String(user.UserPhoto)"/>
                        <p>@Html.DisplayFor(modelItem => user.Name)</p>

                    </a>

                </div>
            }


         }
    </div>


}
else
{
    <div class="jumbotron">
        <h1>1337 Dating</h1>
        <p class="lead">Register now to meet single gamers in your area today! As of today we have over 10 members looking for love or friendship!</p>
        <p><a>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</a></p>
    </div>
    <div class="row">
        @if (Model.users != null)
         {
             for(var i=0; i<3; i++)
             {
                <div class="col-md-4">
                    <a href="@Url.Action("Register", "Account")">
                        <img src="data:image;base64,@Convert.ToBase64String(Model.users.ElementAt(i).UserPhoto)" style="width:200px;height:200px; background: #FFFFFF;
                        margin: auto;
                        -moz-border-radius: 60px;
                        border-radius: 100px;
                        padding: 6px;
                        box-shadow: 0px 0px 20px #888;" />
                        <p>@Html.DisplayFor(modelItem => Model.users.ElementAt(i).Name)</p>
                    </a>

                </div>



             }
         }

    </div>
}